<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>Commande List
            <small>Multikart Admin panel</small>
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i data-feather="home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">Commande</li>
          <li class="breadcrumb-item active">Commande List</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <form class="form-inline search-form search-box">
            <div class="form-group">
              <input class="form-control-plaintext" type="search" placeholder="Search..">
            </div>
          </form>

        </div>
        <div class="card-body">
          <div class="table-responsive table-desi">
            <table class="table all-package" >
              <thead>
              <tr>
                <th>id commande</th>
                  <th>Produit</th>
                  <th>totale prix</th>
                  <th>nom</th>
                  <th>prenom</th>
                  <th>type de paiement</th>
                  <th>etat de commande</th>
                  <th>date de commande</th>
                  <th>date_livraison</th>
                  <th>Option</th>
              </tr>
              </thead>

              <tbody>
          
                <tr *ngFor="let commande of commandes" >
                  <td>{{ commande.id }}</td>
                  <td>{{ commande.Produit }}</td>
                  <td>{{ commande.total_prix }}</td>
                  <td>{{ commande.nom }}</td>
                  <td>{{ commande.prenom }}</td>
                  <td>{{ commande.typedelivraison }}</td>
                  <td>
                    <ng-container *ngIf="commande.etat_commande === 'en cours'; else acceptRejectButtons">
                      En cours
                    </ng-container>
                    <ng-template #acceptRejectButtons>
                      <ng-container *ngIf="commande.etat_commande === 1; else rejectButton">
                        Commande acceptée
                      </ng-container>
                      <ng-template #rejectButton>
                        Commande refusée
                      </ng-template>
                    </ng-template>
                  </td>
                  <td>{{ commande.created }}</td>
                 <td>
                    <ng-container *ngIf="commande.date_livraison; else noLivraison">
                      {{ commande.date_livraison }}
                    </ng-container>
                    <ng-template #noLivraison>
                      No livraison
                    </ng-template>
                  </td>
                  <td>

                    <ng-container *ngIf="commande.etat_commande === 'en cours'">
                      <a>
                        <i class="fa fa-edit text-success p-1" style="font-size: x-large;"
                           (click)="retriveId(commande.id)"
                           data-bs-toggle="modal" data-bs-target="#exampleModal"
                           title="Edit"></i>
                      </a>
                      <a>
                        <i class="fa fa-trash text-danger p-1" style="font-size: x-large;"
                           (click)="retriveId(commande.id)"
                           data-bs-toggle="modal" data-bs-target="#exampleModal1"
                           title="Delete"></i>
                      </a>
                    </ng-container>
                  </td>
   &nbsp;
                </tr>

             
   
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Accepter la commande</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
     
      <div class="modal-body">
     
        <div style="text-align: center">
          <button  class="btn btn-success" (click)="updateAccepter()" data-bs-dismiss="modal">Accepter</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal1"
  tabindex="-1"
  aria-labelledby="exampleModalLabel1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Refuser la commande</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
    
        <div style="text-align: center">
          <button  class="btn btn-danger" (click)="updateRefuser()" data-bs-dismiss="modal">Refuser</button>
        </div>
      </div>
    </div>
  </div>
</div>