<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>Abonnment List
            <small>Multikart Admin panel</small>
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i data-feather="home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">Abonnment</li>
          <li class="breadcrumb-item active">Abonnment List</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <form class="form-inline search-form search-box">
            <div class="form-group">
              <input class="form-control-plaintext" type="search" placeholder="Search..">
            </div>
          </form>

        </div>
        <div class="card-body">
          <div class="table-responsive table-desi">
            <table class="table all-package" id="editableTable">
              <thead>
              <tr>
                <th>id</th>
                <th>nom</th>
                <th>Packs</th>
              
                <th>Status</th>
                <th>action</th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td> 1</td>
                <td>Amine</td>
                <td> Pack de Base</td>
                <td> En cours </td>
                <td>



                  <button     type="submit"    class="form-control"    style="background-color: green;" >accepter</button>
                  <button     type="submit"    class="form-control"    style="background-color: red;" >Refuser</button>
 
                 </td>
 &nbsp;
              </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
