<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <div class="page-header-left">
          <h3>Abonnment List
            <small>Multikart Admin panel</small>
          </h3>
        </div>
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i data-feather="home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">Gestion Abonnment</li>
          <li class="breadcrumb-item active">Abonnment List</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->

<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
      
            <div class="form-group">
           
              <a routerLink="/AjouterAbonnement" class="btn btn-primary mt-md-0 mt-2">Add New
                Abonnement</a>
            </div>
      

        </div>
        <div class="card-body">
          <div class="table-responsive table-desi">
            <table class="table all-package" id="editableTable">
              <thead>
              <tr>
                <th>id</th>
                <th>nom</th>
                <th>image</th>
                <th>Prix</th>
                <th>description</th>
                <th>action</th>
              </tr>
              </thead>

              <tbody >
              <tr *ngFor="let items of listabonement"  >
                <td> {{items.id}}</td>
                <td> {{items.nom}}</td>
                <td>  <img src="/api/{{items.image}}"
                  data-field="image" width="50px" height="50px" alt="">  </td>
                <td>  {{items.Prix}}  TND</td>
                <td>  {{items.description}} </td>
                <td>

                  <a   [routerLink]="['/category/update/',items.id]"   >
                    <i class="fa fa-edit text-success  p-1" style="font-size: x-large;"  title="Edit"></i>
                  </a> 
                

                  <a  (click)="delete(items.id)">
                    <i class="fa fa-trash text-danger p-1" style="font-size: x-large;" title="Delete"></i>
                  </a>
                </td>
 &nbsp;
              </tr>


              </tbody>
            </table>
            <div  *ngIf="listabonement?.length==0" class="text-center" >
              <h3  style="text-align:center ; color: red;">No Data Found</h3>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
