<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Dashboard
                     
                    </h3>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
<!--                    
                    <div style="text-align: center; color: red;"
                    *ngIf="data && data.length && data[0].status === 'System shut down'">
                    <h3 style="color: red; ">النظام حاليا غير متصل
                    </h3>
                    <div *ngFor="let time of data">
                   
                        <h3 style="color: red; ">{{time.time}}</h3>
                                     </div>
                </div>
            
        
                <div style="text-align: center;color: green;"
                    *ngIf="data && data.length && data[0].status === 'System is running'">
                    <h3 style="color:green">النظام متصل حاليا</h3>
                    <div *ngFor="let time of data">
                   
                        <h3 style="color:green">     {{time.time}}</h3>
                                     </div>
                </div> -->
               
                </ol>
            </div>
        </div>
    </div>
</div>


<!-- Container-fluid Ends-->


<!-- Container-fluid starts-->
<div style="text-align: center;">


    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="warning-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center">
                                   
                                    <h3>Air</h3>
                                   
                                </div>
                            </div>
                            <div class="media-body media-doller">
                                <span class="m-0">temperature</span>
                                <h3 class="mb-0">{{temperatureAir?.temperature}}C°<small> </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="secondary-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center">
                                   
                                    <h3>Air</h3>
                                   
                                </div>
                            </div>
                            <div class="media-body media-doller">
                                <span class="m-0">humidité</span>
                                <h3 class="mb-0">{{temperatureAir?.humidite}}%<small> </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="danger-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center">
                                   
                                    <h3>Sol</h3>
                                   
                                </div>
                            </div>
                            <div class="media-body media-doller">
                                <span class="m-0">humidité</span>
                                <h3 class="mb-0">{{humiditySol?.humidite}}%<small> </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="secondary-box card-body" *ngIf="mode?.etat == '1'" >
                      
                        <button class="form-control btn btn-outline-success"  style="font-size: 20px;"  (click)="switchAutomatic()"  data-bs-toggle="modal"  data-bs-target="#exampleModal" >تغيير النظام</button>
                        <h3 *ngIf="mode?.etat == '1'"  style="font-size: 20px;">وضع يدوي</h3>
                    </div>
                    <div class="secondary-box card-body" *ngIf="mode?.etat == '0'" >
                      
                        <button class="form-control btn btn-outline-info"   style="font-size: 20px;"  (click)="switchManuel()">تغيير النظام </button>
                        <h3 *ngIf="mode?.etat == '0'" style="font-size: 20px;">وضع تلقائي</h3>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-md-6 xl-50" *ngIf="mode?.etat == '0'"  >
                <div class="card o-hidden widget-cards">
            
                    <div class="secondary-box card-body" >
                      
                        <button class="form-control btn btn-outline-info"   style="font-size: 20px;" >{{nomcluture.nom}}</button>
<br>
<br>
                        <button class="form-control btn btn-outline-success"   style="font-size: 20px;" data-bs-toggle="modal"  data-bs-target="#exampleModal" >changer culture</button>
                     
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-md-6 xl-50">
              
                    <img src="assets/water Sensor.jpg" width="200px" height="200px" alt="">
              
               <h3 class="mb-0" style="color:red; font-size: 40px;">{{waterSensor?.Etat}}<small> </small> </h3>

            </div>
            
            <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/capteur pluie.jpg" width="200px" height="200px" alt="">
          
           <h3 class="mb-0" style="color:red; font-size: 40px;">{{Capteurpluie?.Etat}}<small> </small> </h3>

        </div>
        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/Co2.jpg" width="200px" height="200px" alt="">
          
           <h3 class="mb-0" style="color:red; font-size: 40px;">{{getCapteurCo2?.status}}<small> </small> </h3>

        </div>

        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/moteur gif.gif" width="200px" height="200px" alt="" *ngIf="getStatusmanuel?.moteur == 'ON'"   >
            <img src="assets/moteurOff.PNG" width="200px" height="200px" alt="" *ngIf="getStatusmanuel?.moteur == 'OFF'"   >
           <h3 class="mb-0" style="color:red; font-size: 40px;"> etat : {{getStatusmanuel?.moteur}}<small> </small> </h3>
       
          <button type="button" (click)="MoteurOff()"  *ngIf="mode?.etat == '1' && getStatusmanuel?.moteur == 'ON'"   class="btn btn-danger">OFF</button>
          <button type="button" (click)="MoteurOn()"  *ngIf="mode?.etat == '1' && getStatusmanuel?.moteur == 'OFF'" class="btn btn-danger" style="color: rgb(17, 255, 9);" >ON</button>


          <input type="hidden"  #inputOnmoteur value="ON">
          <input type="hidden" #inputOFFmoteur value="OFF">
        </div>
        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/lampe OFF.jpg" width="200px" height="200px" alt="" *ngIf="getStatusmanuel?.led == 'ON'">
            <img src="assets/lampe On.jpg" width="200px" height="200px" alt="" *ngIf="getStatusmanuel?.led == 'OFF'">
           <h3 class="mb-0" style=" font-size: 40px;">{{getStatusmanuel?.led}}<small> </small> </h3>
           <button type="button" (click)="LedOff()"  *ngIf="mode?.etat == '1' && getStatusmanuel?.led == 'ON'"   class="btn btn-success">OFF</button>
           <button type="button" (click)="LedOn()"  *ngIf="mode?.etat == '1' && getStatusmanuel?.led == 'OFF'" class="btn btn-danger" style="color: red;" >ON</button>
 
 
           <input type="hidden"  #inputOnled value="ON">
           <input type="hidden" #inputOFFled value="OFF">

        </div>

        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/pompe On.gif" width="200px" height="200px" alt="" *ngIf="getStatusmanuel?.pompe == 'ON'">
            <img src="assets/pompe Off.PNG" width="200px" height="200px" alt="" *ngIf="getStatusmanuel?.pompe == 'OFF'">
          
           <h3 class="mb-0" style="color:red; font-size: 40px;">{{getStatusmanuel?.pompe}}<small> </small> </h3>
           <input type="number" class="form-control" *ngIf="mode?.etat == '1' " [disabled]="dis"  [(ngModel)]="pompeTime" placeholder="Enter time in minutes">
<br>
           <button type="button" (click)="PompeOff()"  *ngIf="mode?.etat == '1' && getStatusmanuel?.pompe == 'ON'"   class="btn btn-success">OFF</button>
           <button type="button" (click)="PompeOn()"  *ngIf="mode?.etat == '1' && getStatusmanuel?.pompe == 'OFF'" class="btn btn-danger" style="color: red;" >ON</button>
 
 
           <input type="hidden"  #inputOnpompe value="ON">
           <input type="hidden" #inputOFFpompe value="OFF">
        </div>

        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/ventilateur on.gif" width="200px" height="200px" alt="" *ngIf="getStatusmanuel?.ventilateur == 'ON'">
            <img src="assets/ventilateur Off.PNG" width="200px" height="200px" alt="" *ngIf="getStatusmanuel?.ventilateur == 'OFF'">
           <h3 class="mb-0" style="color:red; font-size: 40px;">{{getStatusmanuel?.ventilateur}}<small> </small> </h3>
           <button type="button" (click)="VentilateurOff()"  *ngIf="mode?.etat == '1' && getStatusmanuel?.ventilateur == 'ON'"   class="btn btn-success">OFF</button>
           <button type="button" (click)="VentilateurOn()"  *ngIf="mode?.etat == '1' && getStatusmanuel?.ventilateur == 'OFF'" class="btn btn-danger" style="color: red;" >ON</button>
 
 
           <input type="hidden"  #inputOnventilateur value="ON">
           <input type="hidden" #inputOFFventilateur value="OFF">
        </div>
        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/batterie.png" width="200px" height="200px" alt="">

           <h3 class="mb-0" style="color:red; font-size: 40px;">{{getEtatBattrie?.Status}}%<small> </small> </h3>

        </div>


        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/K.png" width="200px" height="200px" alt="">

           <h3 class="mb-0" style="color:red; font-size: 40px;">{{getNpk?.k}}<small> </small> </h3>

        </div>

        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/P.jpg" width="200px" height="200px" alt="">

           <h3 class="mb-0" style="color:red; font-size: 40px;">{{getNpk?.p}}<small> </small> </h3>

        </div>

        <div class="col-xxl-3 col-md-6 xl-50">
              
            <img src="assets/N.jpg" width="200px" height="200px" alt="">

           <h3 class="mb-0" style="color:red; font-size: 40px;">{{getNpk?.n}}<small> </small> </h3>

        </div>
        </div>
        <br>
        <br><br>
        <!-- <div id ="chart">
  <canvas id="canvas"></canvas>
</div>
                   -->

        <!-- <div style="text-align: center;" >
                        <img src="assets/1.jpg" width="800px" height="500px" alt="">
                    
                      </div> -->


        <!-- <div class="full"  id="map">

                  </div> -->

      
        <div class="container-fluid">
<input type="hidden" name="" value="1" #inputManuel>
<input type="hidden" name="" value="0" #inputAuto>
            <div class="row">
              
            </div>
        </div>
       
           
       

    </div>



</div>
<!-- Container-fluid Ends-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">choose culture</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<div style="text-align: center;">
<button type="button" class="btn btn-success" (click)="setTomate()"  data-bs-dismiss="modal" >Tomate</button>
</div>
<br>
<br>
<div style="text-align: center;">
<button type="button" class="btn btn-info"  (click)="setPommeDeTerre()"  data-bs-dismiss="modal" >pomme  de terre</button>
</div>

      
      </div>
    </div>
  </div>