<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>Dashboard
                        <small> hello</small>
                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                   
                    <div style="text-align: center; color: red;"
                    *ngIf="data && data.length && data[0].status === 'System shut down'">
                    <h3 style="color: red; ">النظام حاليا غير متصل
                    </h3>
                    <div *ngFor="let time of data">
                   
                        <h3 style="color: red; ">{{time.time}}</h3>
                                     </div>
                </div>
            
        
                <div style="text-align: center;color: green;"
                    *ngIf="data && data.length && data[0].status === 'System is running'">
                    <h3 style="color:green">النظام متصل حاليا</h3>
                    <div *ngFor="let time of data">
                   
                        <h3 style="color:green">     {{time.time}}</h3>
                                     </div>
                </div>
               
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->


<!-- Container-fluid starts-->
<div style="text-align: center;">


    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="warning-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center">
                                    <i data-feather="navigation" class="font-warning"></i>
                                </div>
                            </div>
                            <div class="media-body media-doller">
                                <span class="m-0">temperature</span>
                                <h3 class="mb-0">{{temperatureAir.temperature}}C°<small> </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-3 col-md-6 xl-50">
                <div class="card o-hidden widget-cards">
                    <div class="secondary-box card-body">
                        <div class="media static-top-widget align-items-center">
                            <div class="icons-widgets">
                                <div class="align-self-center text-center">
                                    <i data-feather="box" class="font-secondary"></i>
                                </div>
                            </div>
                            <div class="media-body media-doller">
                                <span class="m-0">humidité</span>
                                <h3 class="mb-0">{{temperatureAir.humidite}}%<small> </small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- <div id ="chart">
  <canvas id="canvas"></canvas>
</div>
                   -->

        <!-- <div style="text-align: center;" >
                        <img src="assets/1.jpg" width="800px" height="500px" alt="">
                    
                      </div> -->


        <!-- <div class="full"  id="map">

                  </div> -->

      
        <div class="container-fluid">


            <div class="row">
                <div class="col-xxl-3 col-md-6 xl-50">
                    <div class="card o-hidden widget-cards">
                        <div class="secondary-box card-body">
                            <button class="form-control" (click)="switchMode()">Switch Mode</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Container-fluid Ends-->