<!-- Page Sidebar Start-->

<div class="main-header-left d-none d-lg-block">
    <div class="logo-wrapper">
        <br>
        <br>
        <a href="index.html">
            <img class="d-none d-lg-block blur-up lazyloaded " src="assets/rabie.png" width="400px" height="200px"
                alt="">
        </a>
    </div>
</div>
<div class="sidebar custom-scrollbar">
    <a href="javascript:void(0)" class="sidebar-back d-lg-none d-block"><i class="fa fa-times"
            aria-hidden="true"></i></a>
    <div class="sidebar-user">
        <img class="img-60" src="assets/admin/images/Rabii%20Zouita.jpg" alt="#">
        <div>
            <h6 class="f-14">Rabie Zouita</h6>
            <p>general manager.</p>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a class="sidebar-header" routerLink="dashboard">
                <i data-feather="home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a class="sidebar-header" routerLink="Diffusiondirect">
                <i data-feather="home"></i>
                <span>Diffusion direct </span>
            </a>
        </li>



      

    </ul>
</div>